accelerate==1.13.0 ; python_version >= "3.12" and python_version < "4.0"
aioboto3==13.4.0 ; python_version >= "3.12" and python_version < "4.0"
aiobotocore==2.18.0 ; python_version >= "3.12" and python_version < "4.0"
aiofiles==24.1.0 ; python_version >= "3.12" and python_version < "4.0"
aiohappyeyeballs==2.6.2 ; python_version >= "3.12" and python_version < "4.0"
aiohttp==3.13.5 ; python_version >= "3.12" and python_version < "4.0"
aioitertools==0.13.0 ; python_version >= "3.12" and python_version < "4.0"
aiosignal==1.4.0 ; python_version >= "3.12" and python_version < "4.0"
alembic==1.18.4 ; python_version >= "3.12" and python_version < "4.0"
annotated-doc==0.0.4 ; python_version >= "3.12" and python_version < "4.0"
annotated-types==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
anthropic==0.105.2 ; python_version >= "3.12" and python_version < "4.0"
anyio==4.13.0 ; python_version >= "3.12" and python_version < "4.0"
arq==0.26.3 ; python_version >= "3.12" and python_version < "4.0"
asgiref==3.11.1 ; python_version >= "3.12" and python_version < "4.0"
asyncpg==0.29.0 ; python_version >= "3.12" and python_version < "4.0"
attrs==26.1.0 ; python_version >= "3.12" and python_version < "4.0"
bcrypt==4.3.0 ; python_version >= "3.12" and python_version < "4.0"
beautifulsoup4==4.14.3 ; python_version >= "3.12" and python_version < "4.0"
boto3==1.36.1 ; python_version >= "3.12" and python_version < "4.0"
botocore==1.36.1 ; python_version >= "3.12" and python_version < "4.0"
bpemb==0.3.6 ; python_version >= "3.12" and python_version < "4.0"
certifi==2026.5.20 ; python_version >= "3.12" and python_version < "4.0"
charset-normalizer==3.4.7 ; python_version >= "3.12" and python_version < "4.0"
click==8.4.1 ; python_version >= "3.12" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.12" and python_version < "4.0" and (platform_system == "Windows" or sys_platform == "win32")
conllu==6.0.0 ; python_version >= "3.12" and python_version < "4.0"
contourpy==1.3.3 ; python_version >= "3.12" and python_version < "4.0"
cuda-bindings==13.3.1 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux"
cuda-pathfinder==1.5.5 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux"
cuda-toolkit==13.0.2 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux"
cycler==0.12.1 ; python_version >= "3.12" and python_version < "4.0"
defusedxml==0.7.1 ; python_version >= "3.12" and python_version < "4.0"
deprecated==1.3.1 ; python_version >= "3.12" and python_version < "4.0"
distro==1.9.0 ; python_version >= "3.12" and python_version < "4.0"
dnspython==2.8.0 ; python_version >= "3.12" and python_version < "4.0"
docstring-parser==0.18.0 ; python_version >= "3.12" and python_version < "4.0"
email-validator==2.3.0 ; python_version >= "3.12" and python_version < "4.0"
fastapi-cli==0.0.24 ; python_version >= "3.12" and python_version < "4.0"
fastapi==0.111.1 ; python_version >= "3.12" and python_version < "4.0"
filelock==3.29.0 ; python_version >= "3.12" and python_version < "4.0"
flair==0.13.1 ; python_version >= "3.12" and python_version < "4.0"
fonttools==4.63.0 ; python_version >= "3.12" and python_version < "4.0"
frozenlist==1.8.0 ; python_version >= "3.12" and python_version < "4.0"
fsspec==2026.4.0 ; python_version >= "3.12" and python_version < "4.0"
ftfy==6.3.1 ; python_version >= "3.12" and python_version < "4.0"
gdown==6.1.0 ; python_version >= "3.12" and python_version < "4.0"
gensim==4.2.0 ; python_version >= "3.13" and python_version < "4.0"
gensim==4.4.0 ; python_version == "3.12"
gliner==0.1.14 ; python_version >= "3.12" and python_version < "4.0"
greenlet==3.5.1 ; python_version >= "3.12" and python_version < "4.0" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32")
grpcio==1.80.0 ; python_version >= "3.12" and python_version < "4.0"
h11==0.16.0 ; python_version >= "3.12" and python_version < "4.0"
h2==4.3.0 ; python_version >= "3.12" and python_version < "4.0"
hf-xet==1.5.0 ; python_version >= "3.12" and python_version < "4.0" and (platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "arm64" or platform_machine == "aarch64")
hiredis==3.3.1 ; python_version >= "3.12" and python_version < "4.0"
hpack==4.1.0 ; python_version >= "3.12" and python_version < "4.0"
httpcore==1.0.9 ; python_version >= "3.12" and python_version < "4.0"
httptools==0.8.0 ; python_version >= "3.12" and python_version < "4.0"
httpx-sse==0.4.3 ; python_version >= "3.12" and python_version < "4.0"
httpx==0.28.1 ; python_version >= "3.12" and python_version < "4.0"
huggingface-hub==0.36.2 ; python_version >= "3.12" and python_version < "4.0"
hyperframe==6.1.0 ; python_version >= "3.12" and python_version < "4.0"
idna==3.17 ; python_version >= "3.12" and python_version < "4.0"
importlib-metadata==7.0.0 ; python_version >= "3.12" and python_version < "4.0"
janome==0.5.0 ; python_version >= "3.12" and python_version < "4.0"
jinja2==3.1.6 ; python_version >= "3.12" and python_version < "4.0"
jiter==0.15.0 ; python_version >= "3.12" and python_version < "4.0"
jmespath==1.1.0 ; python_version >= "3.12" and python_version < "4.0"
joblib==1.5.3 ; python_version >= "3.12" and python_version < "4.0"
jsonpatch==1.33 ; python_version >= "3.12" and python_version < "4.0"
jsonpointer==3.1.1 ; python_version >= "3.12" and python_version < "4.0"
jsonschema-specifications==2025.9.1 ; python_version >= "3.12" and python_version < "4.0"
jsonschema==4.26.0 ; python_version >= "3.12" and python_version < "4.0"
kiwisolver==1.5.0 ; python_version >= "3.12" and python_version < "4.0"
langchain-anthropic==0.1.23 ; python_version >= "3.12" and python_version < "4.0"
langchain-core==0.2.43 ; python_version >= "3.12" and python_version < "4.0"
langchain-text-splitters==0.2.4 ; python_version >= "3.12" and python_version < "4.0"
langdetect==1.0.9 ; python_version >= "3.12" and python_version < "4.0"
langgraph==0.0.69 ; python_version >= "3.12" and python_version < "4.0"
langsmith==0.1.147 ; python_version >= "3.12" and python_version < "4.0"
limits==5.8.0 ; python_version >= "3.12" and python_version < "4.0"
lxml==6.1.1 ; python_version >= "3.12" and python_version < "4.0"
mako==1.3.12 ; python_version >= "3.12" and python_version < "4.0"
markdown-it-py==4.2.0 ; python_version >= "3.12" and python_version < "4.0"
markupsafe==3.0.3 ; python_version >= "3.12" and python_version < "4.0"
matplotlib==3.10.9 ; python_version >= "3.12" and python_version < "4.0"
mcp==1.12.4 ; python_version >= "3.12" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.12" and python_version < "4.0"
more-itertools==11.1.0 ; python_version >= "3.12" and python_version < "4.0"
mpld3==0.5.12 ; python_version >= "3.12" and python_version < "4.0"
mpmath==1.3.0 ; python_version >= "3.12" and python_version < "4.0"
multidict==6.7.1 ; python_version >= "3.12" and python_version < "4.0"
networkx==3.6 ; python_version >= "3.14" and python_version < "4.0"
networkx==3.6.1 ; python_version >= "3.12" and python_version < "3.14"
nltk==3.9.4 ; python_version >= "3.12" and python_version < "4.0"
numpy==1.26.4 ; python_version == "3.12"
numpy==2.4.6 ; python_version >= "3.13" and python_version < "4.0"
nvidia-cublas-cu12==12.6.4.1 ; python_version >= "3.14" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cublas==13.1.1.3 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux"
nvidia-cuda-cupti-cu12==12.6.80 ; python_version >= "3.14" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cuda-cupti==13.0.85 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and (sys_platform == "linux" or sys_platform == "win32")
nvidia-cuda-nvrtc-cu12==12.6.77 ; python_version >= "3.14" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cuda-nvrtc==13.0.88 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux"
nvidia-cuda-runtime-cu12==12.6.77 ; python_version >= "3.14" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cuda-runtime==13.0.96 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and (sys_platform == "linux" or sys_platform == "win32")
nvidia-cudnn-cu12==9.5.1.17 ; python_version >= "3.14" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cudnn-cu13==9.20.0.48 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux"
nvidia-cufft-cu12==11.3.0.4 ; python_version >= "3.14" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cufft==12.0.0.61 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and (sys_platform == "linux" or sys_platform == "win32")
nvidia-cufile-cu12==1.11.1.6 ; python_version >= "3.14" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cufile==1.15.1.6 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and sys_platform == "linux"
nvidia-curand-cu12==10.3.7.77 ; python_version >= "3.14" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-curand==10.4.0.35 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and (sys_platform == "linux" or sys_platform == "win32")
nvidia-cusolver-cu12==11.7.1.2 ; python_version >= "3.14" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cusolver==12.0.4.66 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and (sys_platform == "linux" or sys_platform == "win32")
nvidia-cusparse-cu12==12.5.4.2 ; python_version >= "3.14" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cusparse==12.6.3.3 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and (sys_platform == "linux" or sys_platform == "win32")
nvidia-cusparselt-cu12==0.6.3 ; python_version >= "3.14" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-cusparselt-cu13==0.8.1 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux"
nvidia-nccl-cu12==2.26.2 ; python_version >= "3.14" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-nccl-cu13==2.29.7 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux"
nvidia-nvjitlink-cu12==12.6.85 ; python_version >= "3.14" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-nvjitlink==13.0.88 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and (sys_platform == "linux" or sys_platform == "win32")
nvidia-nvshmem-cu13==3.4.5 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux"
nvidia-nvtx-cu12==12.6.77 ; python_version >= "3.14" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
nvidia-nvtx==13.0.85 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux" and (sys_platform == "linux" or sys_platform == "win32")
opentelemetry-api==1.24.0 ; python_version >= "3.12" and python_version < "4.0"
opentelemetry-instrumentation-asgi==0.45b0 ; python_version >= "3.12" and python_version < "4.0"
opentelemetry-instrumentation-fastapi==0.45b0 ; python_version >= "3.12" and python_version < "4.0"
opentelemetry-instrumentation==0.45b0 ; python_version >= "3.12" and python_version < "4.0"
opentelemetry-sdk==1.24.0 ; python_version >= "3.12" and python_version < "4.0"
opentelemetry-semantic-conventions==0.45b0 ; python_version >= "3.12" and python_version < "4.0"
opentelemetry-util-http==0.45b0 ; python_version >= "3.12" and python_version < "4.0"
orjson==3.11.9 ; python_version >= "3.12" and python_version < "4.0" and platform_python_implementation != "PyPy"
packaging==24.2 ; python_version >= "3.12" and python_version < "4.0"
pillow==10.4.0 ; python_version >= "3.12" and python_version < "4.0"
portalocker==3.2.0 ; python_version >= "3.12" and python_version < "4.0"
pptree==3.1 ; python_version >= "3.12" and python_version < "4.0"
prometheus-client==0.20.0 ; python_version >= "3.12" and python_version < "4.0"
propcache==0.5.2 ; python_version >= "3.12" and python_version < "4.0"
protobuf==7.35.0 ; python_version >= "3.12" and python_version < "4.0"
psutil==7.2.2 ; python_version >= "3.12" and python_version < "4.0"
pydantic-core==2.46.4 ; python_version >= "3.12" and python_version < "4.0"
pydantic-settings==2.14.1 ; python_version >= "3.12" and python_version < "4.0"
pydantic==2.13.4 ; python_version >= "3.12" and python_version < "4.0"
pygments==2.20.0 ; python_version >= "3.12" and python_version < "4.0"
pyjwt==2.13.0 ; python_version >= "3.12" and python_version < "4.0"
pymupdf==1.27.2.3 ; python_version >= "3.12" and python_version < "4.0"
pyparsing==3.3.2 ; python_version >= "3.12" and python_version < "4.0"
pysocks==1.7.1 ; python_version >= "3.12" and python_version < "4.0"
pytesseract==0.3.13 ; python_version >= "3.12" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.12" and python_version < "4.0"
python-docx==1.2.0 ; python_version >= "3.12" and python_version < "4.0"
python-dotenv==1.2.2 ; python_version >= "3.12" and python_version < "4.0"
python-json-logger==2.0.7 ; python_version >= "3.12" and python_version < "4.0"
python-multipart==0.0.9 ; python_version >= "3.12" and python_version < "4.0"
pytorch-revgrad==0.2.0 ; python_version >= "3.12" and python_version < "4.0"
pywin32==311 ; python_version >= "3.12" and python_version < "4.0" and (platform_system == "Windows" or sys_platform == "win32")
pyyaml==6.0.3 ; python_version >= "3.12" and python_version < "4.0"
qdrant-client==1.18.0 ; python_version >= "3.12" and python_version < "4.0"
rank-bm25==0.2.2 ; python_version >= "3.12" and python_version < "4.0"
redis==4.6.0 ; python_version >= "3.12" and python_version < "4.0"
referencing==0.37.0 ; python_version >= "3.12" and python_version < "4.0"
regex==2026.5.9 ; python_version >= "3.12" and python_version < "4.0"
requests-toolbelt==1.0.0 ; python_version >= "3.12" and python_version < "4.0"
requests==2.34.2 ; python_version >= "3.12" and python_version < "4.0"
rich-toolkit==0.19.10 ; python_version >= "3.12" and python_version < "4.0"
rich==15.0.0 ; python_version >= "3.12" and python_version < "4.0"
rpds-py==2026.5.1 ; python_version >= "3.12" and python_version < "4.0"
s3transfer==0.11.3 ; python_version >= "3.12" and python_version < "4.0"
safetensors==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
scikit-learn==1.6.1 ; python_version >= "3.13" and python_version < "4.0"
scikit-learn==1.8.0 ; python_version == "3.12"
scipy==1.12.0 ; python_version == "3.12"
scipy==1.6.1 ; python_version >= "3.13" and python_version < "4.0"
segtok==1.5.11 ; python_version >= "3.12" and python_version < "4.0"
semver==3.0.4 ; python_version >= "3.12" and python_version < "4.0"
sentencepiece==0.2.1 ; python_version >= "3.12" and python_version < "4.0"
seqeval==1.2.2 ; python_version >= "3.12" and python_version < "4.0"
setuptools==81.0.0 ; python_version >= "3.12" and python_version < "3.14"
setuptools==82.0.1 ; python_version >= "3.14" and python_version < "4.0"
shellingham==1.5.4 ; python_version >= "3.12" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.12" and python_version < "4.0"
slowapi==0.1.9 ; python_version >= "3.12" and python_version < "4.0"
smart-open==7.6.1 ; python_version >= "3.12" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.12" and python_version < "4.0"
soupsieve==2.8.4 ; python_version >= "3.12" and python_version < "4.0"
sqlalchemy==2.0.50 ; python_version >= "3.12" and python_version < "4.0"
sqlitedict==2.1.0 ; python_version >= "3.12" and python_version < "4.0"
sse-starlette==3.0.3 ; python_version >= "3.12" and python_version < "4.0"
starlette==0.37.2 ; python_version >= "3.12" and python_version < "4.0"
sympy==1.14.0 ; python_version >= "3.12" and python_version < "4.0"
tabulate==0.10.0 ; python_version >= "3.12" and python_version < "4.0"
tenacity==8.5.0 ; python_version >= "3.12" and python_version < "4.0"
threadpoolctl==3.6.0 ; python_version >= "3.12" and python_version < "4.0"
tokenizers==0.22.2 ; python_version >= "3.12" and python_version < "4.0"
torch==2.12.0 ; python_version >= "3.12" and python_version < "3.14"
torch==2.7.1 ; python_version >= "3.14" and python_version < "4.0"
tqdm==4.67.3 ; python_version >= "3.12" and python_version < "4.0"
transformer-smaller-training-vocab==0.4.2 ; python_version >= "3.12" and python_version < "4.0"
transformers==4.57.6 ; python_version >= "3.12" and python_version < "4.0"
triton==3.3.1 ; python_version >= "3.14" and python_version < "4.0" and platform_system == "Linux" and platform_machine == "x86_64"
triton==3.7.0 ; python_version >= "3.12" and python_version < "3.14" and platform_system == "Linux"
typer==0.26.4 ; python_version >= "3.12" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.12" and python_version < "4.0"
typing-inspection==0.4.2 ; python_version >= "3.12" and python_version < "4.0"
urllib3==1.26.20 ; python_version >= "3.12" and python_version < "4.0"
uvicorn==0.30.6 ; python_version >= "3.12" and python_version < "4.0"
uvloop==0.22.1 ; python_version >= "3.12" and python_version < "4.0" and sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy"
watchfiles==1.2.0 ; python_version >= "3.12" and python_version < "4.0"
wcwidth==0.7.0 ; python_version >= "3.12" and python_version < "4.0"
websockets==16.0 ; python_version >= "3.12" and python_version < "4.0"
wikipedia-api==0.10.0 ; python_version >= "3.12" and python_version < "4.0"
wrapt==1.17.3 ; python_version >= "3.12" and python_version < "4.0"
yarl==1.24.2 ; python_version >= "3.12" and python_version < "4.0"
zipp==4.1.0 ; python_version >= "3.12" and python_version < "4.0"
